<html>
<head>
<title>MeowMeowBeenz API</title>
<style type="text/css">
 body {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  padding: 20px;
 }
 #footer {
  margin: 70px;
  color: #a6a6a6;
  font-size: 12px;
 }
 #heart {
  color: red;
 }
 #footer a {
  color: #a6a6a6;
 }
 #footer a:hover {
  text-decoration: none;
 }
</style>
</head>
<body>
<p>This is a test server for the MeowMeowBeenz API. It is NOT production-ready or stable, and will be removed eventually.<br/><br/>See <a href='/docs'>API documentation</a> or the <a href='https://github.com/neilgupta/meowmeowbeenz-api'>GitHub project</a> for more information.</p>

<p><img src="https://launchrock-assets.s3.amazonaws.com/logo-files/F5RLW1SQ_1394154586970.png?_=0" /></p>

<div id="footer">Made with <span id="heart">&hearts;</span> by <a href="http://twitter.com/neilgupta">Neil Gupta</a></div>
</body>
</html>